.butt{/* Rectangle 58 */


   
    
    
    /* c1 */
    border-color:#37D200;
    background: linear-gradient(106deg, #37D200 8.28%, #1E7300 100%);
    /* green */
    
    box-shadow: 20px 20px 70px rgba(57, 219, 0, 0.3);
    
}
.example-form {
    width: 100px;
    height: 55px;
    border-radius: 50px;

  }
  .blue-nav-btns {
    border-radius: 50px;
    text-align: center;
    color: white;
    outline: none;
    border: none;
    // margin: 1%;
    //width: 30%;
    font-weight: 500;
    font-size: 16px;
    background: linear-gradient(225deg, #37D200 0%, #217E00 100%);
  /* Blue 1 */
  
  box-shadow: 20px 20px 60px rgba(55, 210, 0, 0.3);
  
  }
  .example-full-width {
    width: 100%;
    border-radius: 50px;
  }
  .mat-grid-tile {
    background: lightblue;
  }

  .line{
    width: 100%;

    border: 5px solid #33C600;

  }
  .bocs{
    
background: #E0F5D9;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
  }