<app-nav></app-nav>




<div class="row mg-0" style="color: black; background-color: #ebebeb;">
  <div class="col-lg-12" style="color: black; background-color: #ebebeb;">
    <img
      src="./assets/images/pexels-fauxels-3182812.jpg"
      class="about-image" style="color: black; background-color: #ebebeb;"
      alt=""
    />
    
        <br />
    <div class="subtitle"   style="color: black; background-color: #ebebeb; ;">
      We Believe In Building 
    </div>
  </div>
</div>
<div class="row bg-blue" style="color: black; background-color: #ebebeb;" >
  <div class="col-lg-12" style="color: black; background-color: #ebebeb;">
    <h1 class="text-get" style="color: black; background-color: #ebebeb;">Move your inventory!!!!!</h1>
  </div>
</div>

<div class="row card-row" style="background-color: #ebebeb;">
  <div class="col-lg-4">
  <mat-card class="first-card" style="background-color:#ebebeb; width:700px; height: 400px; ;">
      
        <span class="card-text" style="font-size: 40px;">
         What is Invebuy?
        </span>
        <br><br><br><br>  
        <span class="card-text" style="font-size: 20px;">
          We at invebuy  will help you to connect with millions of buyers and sellers to purchase and sell  surplus inventories, with the comfort from your workplace.        </span>
         <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  
         <button
            mat-raised-button
            class="btn blue-nav-btns"
            routerLink="/signin"
          >
            Sign In
          </button>

          <button class="btn pd-lt-20 blue-nav-btns" routerLink="/signup">
            Sign Up
          </button>
    </mat-card>
  </div>


  <div class="col-lg-4">

  </div>
  <div class="col-lg-4">
   
        <img
      src="./assets/Img1.jpg"
      class="about-image" style=" align-items:center; top: auto; color: black; background-color: #ebebeb; margin: auto;"
      alt="ff"
    />
    
  </div>
</div>
 <div class="row card-row" style="background-color: #ebebeb;">
  <div class="col-lg-4" style="background-color: #ebebeb;">
    <img
      src="./assets/2.png"
      class="about-image" style=" align-items:center; border-radius: 20px; top: 20px; color: black; background-color: #ebebeb; margin: auto;"
      alt="ff"
    />   
           
    </div>
  
  
    <div class="col-lg-4" style="background-color:#ebebeb;">
      
  
    </div>
    <div class="col-lg-4" style="background-color:#ebebeb ;">
      <mat-card class="first-card"style="background-color:#ebebeb; left:-250px; width:700px ; height: 400px;">
        
          <span class="card-text" style="font-size:40px ;" >
            Our Mission
          </span>
          <br><br><br><br> 
          <span class="card-text" style="font-size: 20px;">
            We at invebuy  will help you to connect with millions of buyers and sellers to purchase and sell  surplus inventories, with the comfort from your workplace.        </span>
          
            <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  
            <button
               mat-raised-button
               class="btn pd-lt-20 blue-nav-btns"
               routerLink="/signin"
             >
               Sign In
             </button>
   
             <button class="btn pd-lt-20 blue-nav-btns" routerLink="/signup">
               Sign Up
             </button>
      </mat-card>
    </div>
</div>

<div class="row card-row" style="background-color: #ebebeb;">
  <div class="col-lg-4">
  <mat-card class="first-card" style="background-color:#ebebeb; width:700px; height: 400px; ;">
      
        <span class="card-text" style="font-size: 40px;">
         What is Invebuy?
        </span>
        <br><br><br><br>  
        <span class="card-text" style="font-size: 20px;">
          We at invebuy  will help you to connect with millions of buyers and sellers to purchase and sell  surplus inventories, with the comfort from your workplace.        </span>
         <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  
         <button
            mat-raised-button
            class="btn pd-lt-20 blue-nav-btns"
            routerLink="/signin"
          >
            Sign In
          </button>

          <button class="btn pd-lt-20 blue-nav-btns" routerLink="/signup">
            Sign Up
          </button>
    </mat-card>
  </div>


  <div class="col-lg-4">

  </div>
  <div class="col-lg-4">
   
        <img
      src="./assets/Img1.jpg"
      class="about-image" style=" align-items:center; border-radius: 20px; top: auto; color: black; background-color: #ebebeb; margin: auto;"
      alt="ff"
    />
    
  </div>
</div>
 <div class="row card-row" style="background-color: #ebebeb;">
  <div class="col-lg-4" style="background-color: #ebebeb;">
    <img
      src="./assets/3.png"
      class="about-image" style=" align-items:center; border-radius: 20px; top: 20px; color: black; background-color: #ebebeb; margin: auto;"
      alt="ff"
    />   
           
    </div>
  
  
    <div class="col-lg-4" style="background-color:#ebebeb;">
  
    </div>
    <div class="col-lg-4" style="background-color:#ebebeb ;">
      <mat-card class="first-card"style="background-color:#ebebeb; left:-250px; width:700px ; height: 400px;">
        
          <span class="card-text" style="font-size:40px ;" >
            Our Mission
          </span>
          <br><br><br><br> 
          <span class="card-text" style="font-size: 20px;">
            We at invebuy  will help you to connect with millions of buyers and sellers to purchase and sell  surplus inventories, with the comfort from your workplace.        </span>
          
            <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  
            <button
               mat-raised-button
               class="btn pd-lt-20 blue-nav-btns"
               routerLink="/signin"
             >
               Sign In
             </button>
   
             <button class=" btn pd-lt-20 blue-nav-btns" routerLink="/signup">
               Sign Up
             </button>
             
      </mat-card>
    </div>
    
 <div class="row" style="background-color: #ebebeb;">
  <div class="col-lg-4" style="background-color: #ebebeb;">
    <img
      src="./assets/C1.png"
      class="about-image" style=" align-items:center; border-radius: 20px; top: 20px; color: black; background-color: #ebebeb; margin: auto;"
      alt="ff"
    />   
           
    </div>
  
  
    <div class="col-lg-4" style="background-color:#ebebeb;">
  
    </div>
    <div class="col-lg-4" style="background-color:#ebebeb ;">
      
</div>



  



<app-footer></app-footer>