
<div class="row" style="background-color: rgb(2, 33, 23); height:10px ;"></div>
<div class="row" style="background: linear-gradient(106deg, #37D200 40.28%, #1E7300 100%);
; color: azure;">
    
    <div class="col-lg-1 col-xl-1"></div>
    <div class="col-lg-3 col-xl-3" >
        <br>

        <div class="" style="color: azure;">
            Find Us
        </div>
        <br>

        <div>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</div>
        <br>
        <p><i ></i> +91-9999878398  </p>
        
        <p><i></i> info@example.com  </p>
        <br>
    </div>
    <div class="col-lg-1 col-xl-1" ></div>
    <div class="col-lg-3 col-xl-3" style="color: azure;">
        <br>
        <div class="">Home</div>
        <br>
        <div class="">About Us</div>
        <br>
        <div class="">Join Us</div>
        <br>
        <div class="">All Products</div>
        <br>
        <div class="">Somrthing</div>
        
    
    
    
    
    </div>
    
    <div class="col-lg-4 col-xl-4">
        <br>
        <div class="">Terms and Conditions</div>
        <br>
        <div class="">Privacy Policy</div>
        <br>
        <div class="">Sell with Us</div>
        <br>
        <div class="">Become a partner</div>
        <br>
        <div class="">Somrthing</div>
        
    
    </div>
    
</div>
<div class="row" style="background-color: rgb(2, 33, 23); height: 80px; ;">
    <div class="container">
    
        <!--foote_bottom_ul_amrc ends here-->
        <p class="text-center" style="color:azure ;">Copyright @2017 | Designed With by <a href="#">Invebuy</a></p>
        
        <ul class="social_footer_ul">
        <li><a href="http://webenlance.com"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="http://webenlance.com"><i class="fab fa-twitter"></i></a></li>
        <li><a href="http://webenlance.com"><i class="fab fa-linkedin"></i></a></li>
        <li><a href="http://webenlance.com"><i class="fab fa-instagram"></i></a></li>
        </ul>
        <!--social_footer_ul ends here-->
        </div></div>