<app-nav></app-nav>
<button mat-raised-button class="btn blue-nav-btns" routerLink="/signin" style="width:20%; height:55px; color: white;">
  Sign In
</button>
<button mat-raised-button class="btn blue-nav-btns" routerLink="/signup" style="width:20%; height:55px; color: white;">
  Sign Up
</button>
<button mat-raised-button class="btn blue-nav-btns" routerLink="/courses" style="width:20%; height:55px; color: white;">
  homepage
</button>
<button mat-raised-button class="btn blue-nav-btns" routerLink="/instructorlogin" style="width:20%; height:55px; color: white;">
  Seller Info and Details
</button>
<button mat-raised-button class="btn blue-nav-btns" routerLink="/courseslist" style="width:20%; height:55px; color: white;">
  All Products
</button>
<button mat-raised-button class="btn blue-nav-btns" routerLink="/businesslogin" style="width:20%; height:55px; color: white;">
  Add New Products
</button>
<button mat-raised-button class="btn blue-nav-btns" routerLink="/video" style="width:20%; height:55px; color: white;">
  Admin Dashboard
</button>
<button mat-raised-button class="btn blue-nav-btns" routerLink="/coursescategory" style="width:20%; height:55px; color: white;">
  seller dashboard
</button>
<button mat-raised-button class="btn blue-nav-btns" routerLink="/aboutus" style="width:20%; height:55px; color: white;">
  About us
</button>
<button mat-raised-button class="btn blue-nav-btns" routerLink="/profile" style="width:20%; height:55px; color: white;">
  User Profile
</button>
<button mat-raised-button class="btn blue-nav-btns" routerLink="/courseslist" style="width:20%; height:55px; color: white;">
  All Products
</button>
<button mat-raised-button class="btn blue-nav-btns" routerLink="/pdf" style="width:20%; height:55px; color: white;">
  Added Products
</button>
<button mat-raised-button class="btn blue-nav-btns" routerLink="/sellerproducts" style="width:20%; height:55px; color: white;">
  
</button>