<app-nav ></app-nav>
<div class="container-fluid" style="background-color: #ebebeb">
  <div class="row" style="justify-content: center;  font-size: 60px; height: 80px;  top: 20px; ">
    <div class="title">Admin Dashboard</div>
  </div>
  <div class="row" style="justify-content: center;">
    <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3">
      <button mat-raised-button class="btn blue-nav-btns pd-lt-10" style="width: 80% ; height:55px; left: -100px; color: white;">
      Buyers/AR
    </button>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3" style="justify-content: center;">
      <button mat-raised-button class="btn blue-nav-btns pd-lt-10" style="width: 80% ; height:55px; left: -100px; color: white;">
        Create New Category
      </button>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3" style="justify-content: center;">
      <button mat-raised-button class="btn blue-nav-btns pd-lt-10" style="width: 80% ; height:55px; left: -100px; color: white;">
        Sellers/AR
      </button>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3" style="justify-content: center;">
      <button mat-raised-button class="btn blue-nav-btns pd-lt-10" style="width: 80% ; height:55px; left: -100px; color: white;">
        All Users
      </button>
    </div>


  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3">
      <button mat-raised-button class="btn blue-nav-btns pd-lt-10" style="width: 80% ; height:55px; left: -100px; color: white;">
      My Profile
    </button>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3" style="justify-content: center;">
      <button mat-raised-button class="btn blue-nav-btns pd-lt-10" style="width: 80% ; height:55px; left: -100px; color: white;">
        Show All Category
      </button>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3" style="justify-content: center;">
      <button mat-raised-button class="btn blue-nav-btns pd-lt-10" style="width: 80% ; height:55px; left: -100px; color: white;">
        Inve Price Module
      </button>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3" style="justify-content: center;">
      <button mat-raised-button class="btn blue-nav-btns pd-lt-10" style="width: 80% ; height:55px; left: -100px; color: white;">
        Added Products
      </button>
    </div>


  </div>

</div>


<app-footer></app-footer>