<div class="row">
  <div class="col-lg-12">
    <img class="list-item" src="img1" alt="img1" />
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <p class="list-item">
      <span class="material-icons"> dashboard </span>Dashboard
    </p>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <p class="list-item">
      <span class="material-icons"> dashboard </span> Courses
    </p>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <p class="list-item">
      <span class="material-icons"> perm_identity </span>Employees
    </p>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <p class="list-item">
      <span class="material-icons"> pie_chart </span>Analytics
    </p>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <p class="list-item">
      <span class="material-icons"> settings </span> Settings
    </p>
  </div>
</div>
