.mg-0 {
  margin: 0;
}
:host {
  ::ng-deep .mat-form-field-underline {
    display: none;
  }
}

:host ::ng-deep .input {
  background: transparent;
}
.search-icon {
  margin-top: 1px;
}
.set-width {
  width: 100%;
}
