<div class="row">
  <div class="col-lg-8">
    <mat-form-field
      class="input"
      floatLabel="never"
      appearance="legacy
      "
    >
      <mat-label>Search..</mat-label>
      <mat-icon matPrefix class="serach-icon">search</mat-icon>
      <input type="text" matInput />
    </mat-form-field>
  </div>
  <div class="col-lg-2">
    <p>Rahul Sharma</p>
    <span>Student</span>
  </div>
  <div class="col-lg-2">
    <span class="material-icons"> keyboard_arrow_down </span>
    <span class="material-icons"> notifications </span>
  </div>
</div>
