<app-nav></app-nav>
<div class="container-fluid">
    <div class="row">


    

        
          <div class="col-xl-6 col-lg-6">
              <button mat-raised-button class="btn blue-nav-btns pd-lt-10 buttonload" routerLink="/signin" style="left:40%; margin-top:20% ; padding:5% ;color: aliceblue;">
                Sign In
              </button>
              <i class="fa fa-spinner fa-spin" style="height:200px ;"></i>
        
            
            
        </div>
        <div class="col-xl-6 col-lg-6">
            <button mat-raised-button class="btn blue-nav-btns pd-lt-10 buttonload" routerLink="/signup" style="left:40%; margin-top:20% ; padding:5% ; color: aliceblue;">
                Sign Up
              </button>
              <i class="fa fa-spinner fa-spin"></i>
            
        </div>
    
    </div>

</div>
<app-footer></app-footer>

