<div class="row mg-0">
  <div class="col-lg-12 mg-t-1">
    <!-- <img class="pd-lt-20" src="" alt="logo" />
    <a class="pd-lt-20 text-blue">Courses</a>
    <a class="pd-lt-60 text-blue" routerLink="/instructorlogin"
      >Become Instructor</a
    >
    <a class="pd-lt-20 text-blue" routerLink="/businesslogin">Business</a>
    <a class="pd-lt-20 text-blue" routerLink="/homepage">Home</a>
    <button
      mat-raised-button
      class="blue-nav-btns text-blue pd-lt-20"
      routerLink="/signin"
    >
      Sign In
    </button>
    <button
      mat-raised-button
      class="blue-nav-btns text-blue pd-lt-20"
      routerLink="/signup"
    >
      Sign Up
    </button> -->
    <nav class="navbar navbar-expand-md navbar-dark bg-white mb-3">
      <a href="#" class="navbar-brand"> </a>
      <button
        type="button"
        class="navbar-toggler bar"
        data-toggle="collapse"
        data-target="#navbarCollapse"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <!-- <div class="navbar-nav">
        </div> -->
        <div class="navbar-nav">
          <img class="pd-lt-20 nav-text" src="./assets/IB1.jpg" style="height: 40px; border-radius:10px; " alt="img1" />
          <a class="pd-lt-20 text-blue nav-text" routerLink="/courses"
            >Courses</a
          >
          <a class="pd-lt-20 nav-text" routerLink="/instructorlogin"
            >Become Instructor</a
          >
          <a class="pd-lt-20 nav-text" routerLink="/businesslogin">Business</a>
          <a class="pd-lt-20 nav-text" routerLink="/homepage">Home</a>
          <button
            mat-raised-button
            class="btn pd-lt-20 blue-nav-btns"
            routerLink="/signin"
          >
            Sign In
          </button>

          <button class="btn pd-lt-20 blue-nav-btns" routerLink="/signup">
            Sign Up
          </button>
        </div>
      </div>
    </nav>
  </div>
</div>

<div class="row mg-0">
  <div class="col-lg-12 image">
    <img
      src="./assets/images/pexels-fauxels-3182812.jpg"
      class="about-image"
      alt=""
    />
    <div class="subtitle-t">About us</div>
    <br />
    <div class="subtitle" style="color: black;">
      We Believe In Building An Interactive Learning Program To Make Learning
      Simple But Effective
    </div>
  </div>
</div>
<div class="row bg-blue">
  <div class="col-lg-12">
    <h1 class="text-get">Get Certified Fast And Scale Your Business Needs</h1>
  </div>
</div>

<div class="row card-row">
  <div class="col-lg-4">
    <mat-card class="first-card">
      <mat-card-header>
        <img
          mat-card-image
          class="card-img"
          src="./assets/images/portrait-from-back-tired-students-stretching-after-long-work-indoor-photo-office-workers-fooling-around-during-meeting-conference-hall-with-big-windows_197531-3718.jpg"
          alt="students"
        />
      </mat-card-header>
      <mat-card-content>
        <span class="card-text">
          We help to upskills your team, design a tailored curriculum
          accordingly
        </span>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-lg-4">
    <mat-card class="first-card">
      <mat-card-header>
        <img
          mat-card-image
          class="card-img"
          src="./assets/images/pexels-fauxels-3184632.jpg"
          alt="students"
        />
      </mat-card-header>
      <mat-card-content>
        <span class="card-text"
          >Our Team Will Help You To Deisgn The Best Training Program For Your
          Company
        </span>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-lg-4">
    <mat-card class="first-card">
      <mat-card-header>
        <img
          mat-card-image
          class="card-img"
          src="./assets/images/pexels-fauxels-3184418.jpg"
          alt="students"
        />
      </mat-card-header>
      <mat-card-content>
        <span class="card-text">
          Our Consultants Will Always Deliver Best Services And Support
        </span>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="row blue-row mg-0">
  <div class="col-lg-7 blue-row-text-parent">
    <div class="row">
      <div class="col-lg-12 text-align-center main-text1">
        Take your Business To Next Level
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-align-center sub-text1">
        Digitialize Your Local Business
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-align-center">
        <button
          mat-raised-button
          class="btn-yellow"
          routerLink="/businesslogin"
        >
          start today
        </button>
      </div>
    </div>
  </div>
  <div class="col-lg-5">
    <img src="./assets/images/imac.png" class="pc" alt="" />
    <img
      src="./assets/images/Screenshot_20201108-143111__01.jpg"
      class="pc-img"
      alt=""
    />
  </div>
</div>

<!-- <div class="row mg-0">
  <div class="col-lg-3">
    <mat-card class="card">
      <h1 class="card-count">15k+</h1>
      <h3 class="card-label">Students</h3>
      </mat-card>
  </div>
  <div class="col-lg-3">
    <mat-card class="card">

    <h1 class="card-count">12k+</h1>
      <h3 class="card-label">Placements</h3>
      </mat-card>
  </div>
  <div class="col-lg-3">
    <mat-card class="card"><h1 class="card-count">1000+</h1>
      <h3 class="card-label">Experts</h3></mat-card
    >
  </div>
  <div class="col-lg-3">
    <mat-card class="card"
      ><h1 class="card-count">2+Yr</h1>
      <h3 class="card-label">Experience</h3></mat-card
    >
  </div>
</div> -->

<div class="row blue-row mg-0">
  <div class="col-lg-5">
    <img
      src="./assets/images/pexels-fauxels-3182765.jpg"
      class="teacher-img"
      alt=""
    />
  </div>
  <div class="col-lg-7 blue-row-text-parent">
    <div class="row">
      <div class="col-lg-12 sub-text1 text-3">
        With World-Class Training And Development Programs, Designed To develop
        Skills And Talent Of Industry Standards.
      </div>
    </div>
  </div>
</div>

<div class="row footer mg-0">
  <div class="col-lg-12">
    <img src="img1" alt="img1" />
  </div>
  <div class="col-lg-4 pt-5">
    <a>Courses</a><br />
    <a class="text-white" routerLink="/aboutus">About Us</a><br />
    <a>Contact Us</a><br />
    <a>Our Blogs</a><br />
  </div>

  <div class="col-lg-4 pt-5">
    <a class="text-white" routerLink="/instructorlogin">Become instructor</a
    ><br />
    <a class="text-white" routerLink="/businesslogin">Start your Business</a
    ><br />
    <a>Careers</a><br />
    <a>Affiliate</a><br />
  </div>

  <div class="col-lg-4 pt-5">
    <a>Terms</a><br />
    <a>Conditions</a><br />
    <a>Privacy policy</a><br />
    <a>Featured courses </a><br />
  </div>
</div>
