<app-nav></app-nav>
<div class="container-fluid" style="background-color:#ebebeb ;">
 
  <div class="row" style="justify-content: center ;height: fit-content;padding:2% ; font-size:50px;">
    Seller Dashboard
  </div>
 
 
   
  <div class="row" style="background-color: #ebebeb;">
    <div class="col-lg-4">
      <div class="row">
        <div class="col-lg-6">
        <button mat-raised-button class="btn blue-nav-btns pd-lt-20" routerLink="/profile" style="width:350px;height: 55px;color: white;font-size:large;">Seller Details and info</button>
        
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <button mat-raised-button class="btn blue-nav-btns pd-lt-20"style="width:350px;height: 55px; color: white;font-size:large;">Billing and Details</button>
      
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <button mat-raised-button class="btn blue-nav-btns pd-lt-20" routerLink="/businesslogin" style="width:350px;height: 55px; color: white;font-size:large;">Add New Product</button>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <button mat-raised-button class="btn blue-nav-btns pd-lt-20"style="width:350px;height: 55px; color: white;font-size:large;"
          routerLink="/sellerorder">Orders</button>
        </div>
      </div>
      
    </div>
  
  
    <div class="col-lg-4">
  
    </div>
    <div class="col-lg-4">
     
      <div class="row">
        <div class="col-lg-6">
        <button mat-raised-button class="btn blue-nav-btns pd-lt-20" style="width:350px;height: 55px;color: white;font-size:large;">Notification</button>
        
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <button mat-raised-button class="btn blue-nav-btns pd-lt-20"style="width:350px;height: 55px; color: white;font-size:large;">Billing and Details</button>
      
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <button mat-raised-button class="btn blue-nav-btns pd-lt-20"style="width:350px;height: 55px; color: white;font-size:large;">Add New Product</button>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <button mat-raised-button class="btn blue-nav-btns pd-lt-20"style="width:350px;height: 55px; color: white;font-size:large;">Add New Product</button>
        </div>
      </div>
           
    </div>
    
  </div>
    
  
 
    
   </div>

  
<app-footer></app-footer>