:root {
  // Globle Colors
  --blue: #00438b;
  --light-blue: #86b4e6;
  --light-gray: #b8b8b8;
  --gray: #616161;
  --dark-gray: #4e4e4e;
  --yellow: #ebbb20;

  // Globle Font Width
  --font-weight-400: 400;
  --font-weight-300: 300;

  // Globle Font Family
  --default-font: "Segoe UI", "Frutiger", "Frutiger Linotype", "Dejavu Sans",
    "Helvetica Neue", "Arial", "sans-serif";
}
